body {
  margin: 0 300px;
  text-align: center;
  background-color: antiquewhite;
}

.maname-regular {
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button {
  font-size: large;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
